.colFlex{
  display: flex;
  flex-direction: column;
}

.colFlex2{
  display: flex;
  flex-direction: column;
  margin: 1em;

  background-color:  #d9d9d9;
  border: none;
  border-radius: 20px;
}

.rowFlex {
  display: flex;
  flex-direction: row;
}

.card {
  border-radius: 20px;
  width: 30%;

  background-color: aqua;
}

.forImage {
  border-radius: 0px;
}

.pText{
  text-align: center;
}
