@font-face {
  font-family: insidrFont;
  src: url('../font/SFPRODISPLAYMEDIUM.OTF')  format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: insidrFont;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
