.form{
    color: #432CCECC;
}

.rightbarcols{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 100%;
    padding: 0.5vh; 
    font-size: 12px;
}

.rightbarcols:hover,.rightbarcols:active,.rightbarcols:focus,.rightbarcols:checked{
    background-color: rgba(67, 44, 206, 0.8);;
}

