.headings{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 20px;
    font-weight: bold;
}


.leftcontainer{
    background-color: #432CCE4F;
    border-radius: 20px 6px 6px 20px;
}

.rightcontainer{
    color: black;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}

.sidebarrows{
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 1vh;
    padding: 1vh;
    text-align: left!important;
}

.rightbarcols{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 100%;
    padding: 0.5vh; 
    font-size: 17px;
}

.sidebarrows:hover,.sidebarrows:active,.sidebarrows:focus,.sidebarrows:checked
{
    background-color: #442cce31;
    color: white;
    font-weight: bold;
}

.rightbarcols:hover,.rightbarcols:active,.rightbarcols:focus,.rightbarcols:checked{
    background-color: rgba(67, 44, 206, 0.8);
    color:white;
    font-weight: bold;
}

.demo{
    background-color: rgba(67, 44, 206, 0.8);
    border-radius: 5px;
    text-align: center;
    padding: 0 2vh 0 2vh;
    color: white;
    font-weight: bold;
}