@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

.wholepage{
    font-family: 'SF Pro Display';
    text-align: center;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Border{
    background: #FFFFFF;
    box-shadow: 4.82317px 48.762px 154px rgba(0, 0, 0, 0.0455), 2.44173px 24.6858px 67.1344px rgba(0, 0, 0, 0.07), 0.964635px 9.75241px 25.025px rgba(0, 0, 0, 0.0945), 0.211014px 2.13334px 8.90312px rgba(0, 0, 0, 0.14);
    border-radius: 23px;
    text-align: center;
}

.allBoxes{
    flex-direction: column;
    row-gap: 40px;
    width: 85%;
}



@media screen and (min-width: 1000px)
{
  
    #box{
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        padding: 1em;
        width: 100%;
        height: 200px;
        overflow: hidden;
        text-align: center;
        transition-property: height;
        transition-duration: 1s;
    }

    .g{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        /* justify-content: space-between; */
        /* transition-duration: 2s; */
        padding: 1em 0em 0em 1em;
    }


    .twoBoxes{
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        justify-content: space-around;
        /* transition-duration: 2s; */
    }

    .d1{
        
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: rgba(92, 190, 91, 0.8);
        }
    .d2{
    
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #CE2C53CC;

        }   
    .d3{
    
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #0000004D;

        }
        .d4{
    
            text-align: left;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #1E90FFCC;

    
            }

            .d1font{
                text-align: left;
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 500;
                font-size: 49px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: rgba(92, 190, 91, 0.8);
            }

        .d2font{
            text-align: left;
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 500;
                font-size: 49px;
                align-items: center;
            color: #CE2C53CC;
        }

        .d3font{
            text-align: left;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 49px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #0000004D;
        }

        .d4font{
            text-align: left;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 49px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #1E90FFCC;
        }

        .plusone{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
        }

        .boxheading{
            padding: 1em;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        .content{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #000000;
            width: 80%;
        }

        .svgs{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            font-weight: 500;
            font-size: 17px;
        }

        .b1{
            padding-left: 1em;
            width: 100%;
            height: 358px;
            overflow: scroll;
            border-radius: 10px;
            /* margin-right: 2em; */

            background-color: #F4F4F4;
            text-align: left ;
            /* transition-duration: 2s; */
        }
      
        
        .b2{
            width: 100%;
            height: 350px;
            overflow: scroll;
            border-radius: 10px;    
            /* margin-right: 2em; */
            padding-left: 1em;
            background-color: #F4F4F4;
            text-align: left;
            /* transition-duration: 2s; */
        }

        .boxcontent{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        

        .b1::-webkit-scrollbar {
            display: none;
        }

        .b2::-webkit-scrollbar {
            display: none;
        }

        .card{
            width: max-content;
        }

}

@media screen and (max-width: 1000px)
{

    #box{
        position: relative;
        display: flex;
        flex-direction: row;
        /* padding: 1em;
        column-gap: 0.5em; */
        width: 100%;
        height: 130px;
        overflow: hidden;
        text-align: center;
        transition-property: height;
        transition-duration: 3s;
    }

    .g{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        /* justify-content: space-between; */
        /* transition-duration: 2s; */
        padding-top: 1em;
    }

    .twoBoxes{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        justify-content: space-around;
    
    }

    .d1{
        /* width: 10%; */
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: rgba(92, 190, 91, 0.8);
        }
    .d2{
        /* width: 10%; */
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: #CE2C53CC;
        }
    .d3{
        /* width: 10%; */
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: #0000004D;
        }
    .d4{
        /* width: 10%; */
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        color: #1E90FFCC;
        }

        .d1font{
            text-align: left;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgba(92, 190, 91, 0.8);
        }
        .d2font{
            text-align: left;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            align-items: left;
            color: #CE2C53CC;
        }
        .d3font{
            text-align: left;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #0000004D;
        }
        .d4font{

            text-align: left;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #1E90FFCC;
        }

        .plusone{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
        }
        
        .card{
            min-height: 99px;
            width: max-content;
        }



        .svgs{
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
        }

        .content{
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            width: 80%;
            color: rgba(0, 0, 0, 0.7);
        }

        .boxheading{
            padding: 0.5em;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
        }

        .mimg{
            width: 66px;
            height: 33px;
        }

        .b1{
            padding-left: 1em;
            width: 100%;
            height: 99px;
            overflow: scroll;
            border-radius: 10px;
            /* margin-right: 2em; */
            background-color: #F4F4F4;
            text-align: left ;
            /* transition-duration: 2s; */
        }
        
        
        .b2{
            width: 100%;
            height: 99px;
            overflow: scroll;
            border-radius: 10px;    
            /* margin-right: 2em; */
            padding-left: 1em;
            background-color: #F4F4F4;
            text-align: left;
            /* transition-duration: 2s; */
        }

        .boxcontent{
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
        

        .b1::-webkit-scrollbar {
            display: none;
        }

        .b2::-webkit-scrollbar {
            display: none;
        }

        



}





.check{
    align-items: center;
    padding-top: 1em;
    border: none; 
    background: none;
    margin-bottom: 20px;
    font-family: 'SF Pro Display';
}

.check2{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    text-align: center;
}