@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

.wholepage{
    font-family: 'SF Pro Display';
    text-align: center;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Border{
    transition-duration: 10s;
    background: #FFFFFF;
    box-shadow: 4.82317px 48.762px 154px rgba(0, 0, 0, 0.0455), 2.44173px 24.6858px 67.1344px rgba(0, 0, 0, 0.07), 0.964635px 9.75241px 25.025px rgba(0, 0, 0, 0.0945), 0.211014px 2.13334px 8.90312px rgba(0, 0, 0, 0.14);
    border-radius: 23px;
    text-align: center;
}

.DivFlex{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1em;
    width: 100%;
    text-align: center;
    transition-duration: 2s;
    align-items: stretch;
}



/* hide 3 graphs and 2 last boxes */

.hide{
    display: none;
    transition-duration: 1s;
}

.allBoxes{
    flex-direction: column;
    width: 85%;
    transition-duration: 1s;
}


.g{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 2s;
    
}

.duration{
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1000px)
{
    .twoBoxes{
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        justify-content: space-around;
        transition-duration: 2s;
    }

    .d1{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: rgba(92, 190, 91, 0.8);
        }

        .d1font{
            font-size: 49px;
        }

        .plusone{
            font-size: 20px;
        }

        .svgs{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            font-weight: 500;
            font-size: 17px;
        }

        .b1{
            padding-left: 1em;
            width: 100%;
            min-height: 358px;
            border-radius: 10px;
            /* margin-right: 2em; */
            background-color: #F4F4F4;
            text-align: left ;
            transition-duration: 2s;
        }
        
        .halfb1{
            padding-left: 1em;
            width: 100%;
            min-height: 150px;
            border-radius: 10px;
            /* margin-right: 2em; */
            background-color: #F4F4F4;
            text-align: left ;
            transition-duration: 2s;
        }
        
        .b2{
            width: 100%;
            min-height: 285px;
            border-radius: 10px;    
            /* margin-right: 2em; */
            padding-left: 1em;
            background-color: #F4F4F4;
            text-align: left;
            transition-duration: 2s;
        }


}

@media screen and (max-width: 1000px)
{
    .twoBoxes{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        justify-content: space-around;
    
    }

    .d1{
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: rgba(92, 190, 91, 0.8);
        }

        .d1font{
            font-size: 20px;
        }
        .plusone{
            font-size: 10px;
        }

        .g{
            /* padding: 0em 0em 1em 1em; */
            /* display: flex;
            flex-direction: column;
            justify-content: space-between; */
            /* height: 100%; */
        }

        .svgs{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            font-weight: 500;
            font-size: 14px;
        }

        .b1{
            padding-left: 1em;
            width: 100%;
            min-height: 150px;
            border-radius: 10px;
            /* margin-right: 2em; */
            background-color: #F4F4F4;
            text-align: left ;
            transition-duration: 2s;
        }
        
        .halfb1{
            padding-left: 1em;
            width: 100%;
            min-height: 150px;
            border-radius: 10px;
            /* margin-right: 2em; */
            background-color: #F4F4F4;
            text-align: left ;
            transition-duration: 2s;
        }
        
        .b2{
            width: 100%;
            min-height: 150px;
            border-radius: 10px;    
            /* margin-right: 2em; */
            padding-left: 1em;
            background-color: #F4F4F4;
            text-align: left;
            transition-duration: 2s;
        }

        .hide12{
            display: none;
            transition-duration: 2s;
        }

}


.boxcontent{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.boxheading{
    padding: 1em;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.check{
    align-items: center;
    padding: 0;
    border: none; 
    background: none;
    margin-bottom: 20px;
    font-family: 'SF Pro Display';
}

.check2{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    text-align: center;
}